<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/494/PNG/512/car_icon-icons.com_48342.png" type="image/x-icon">
  <title>Cadastro de Pedido</title>
</head>
<body class="bg-success">

<div class="row">
  <div class="col"></div>
  <div class="col-lg-4 col-md-6 col-sm-10 text-center bg-white rounded mt-4">
    <div class="row  p-2 "><h1>Cadastro de Veiculo</h1>
      <form action="/pedido" method="POST">
        <input class="form-control" type="text" name="valor" id="idValor" placeholder="Valor do pedido" required>
        <input class="form-control" type="text" name="idUsuario" id="idUser" placeholder="Id do usuario"  required>
        <input class="form-control" type="text" name="dataLocacao" id="idFirstDate" placeholder="12-12-1990" required>
        <input class="form-control" type="text" name="dataDevolucao" id="returnDate" placeholder="02-02-1991" required>
        <input class="form-control" type="text" name="idVeiculo" id="idVeiculo" placeholder="Id do veículo" required>
    </div>
    <div class="row text-center">
      <div class="col"></div>
      <div class="col mb-2">
        <button type="submit" class="btn btn-secondary">Cadastrar pedido</button>
        <a href="javascript:history.back()">Voltar</a>
        </form>
      </div>
      <div class="col"></div>
    </div>

  </div>
  <div class="col"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>